@font-face {
    font-family: "Didot";
    src: url("/fonts/didot-bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Didot";
    src: url("/fonts/didot-regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Halimun";
    src: url("/fonts/halimun.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "HelloGaleriaSans";
    src: url("/fonts/hellogalleriasans.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
